# ==========================================================
# Intelligent Hospital Information Assistant
# Retrieval-Augmented Generation (RAG) using Google Gemini
# Python Version: 3.10.x (Recommended: 3.10.11)
# Platform: Windows x64
# ==========================================================

# -----------------------------
# LangChain Framework
# -----------------------------
langchain==1.3.13
langchain-core==1.4.9
langchain-text-splitters==1.1.2

# -----------------------------
# Embedding Models
# -----------------------------
langchain-huggingface==1.2.2
sentence-transformers==5.6.0
transformers==5.13.0
torch==2.13.0

# -----------------------------
# Vector Database
# -----------------------------
langchain-chroma==1.1.0
chromadb==1.5.9

# -----------------------------
# Google Gemini
# -----------------------------
langchain-google-genai==4.2.7

# -----------------------------
# Environment Variables
# -----------------------------
python-dotenv==1.2.2

# -----------------------------
# User Interface
# -----------------------------
streamlit==1.53.0

# Prescription Report Downloads
# -----------------------------
reportlab==4.5.1
